---
layout: default
---
<div id="app" class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" v-for="d in data">
                <div class="card h-100 mb-5 box-shadow">
                    <img :src="d.pic" class="card-img-top img-thumbnail">
                    <div class="card-body">
                        <p class="card-title">${d.name}</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a :href="'https://github.com/Enaium-StardewValleyMods/' + d.name" class="btn btn-sm btn-outline-secondary">Source</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data() {
            return {
                data: []
            }
        },
        mounted() {
            {% for element in site.data.stardewvalleymods %}
            axios.get('https://bird.ioliu.cn/v1?url=https://mod.3dmgame.com/mod/API/' + {{ element.id }}).then((api) => {
                axios.get('https://bird.ioliu.cn/v1?url=https://mod.3dmgame.com/mod/' + {{ element.id }}).then((page) => {
                    var pic = getStr(page.data, '<meta property=\"og:image\" content=\"', '.webp\"/>')
                    if (pic == null) {
                        pic = "https://mod.3dmgame.com/static/upload/game/10.jpg"
                    } else {
                        pic += '.webp'
                    }
                    this.data.push(mod(api.data, "{{ element.name }}", pic))
                })
            })
    {% endfor %}
        }
    });

    function getStr(str, start, end) {
        let res = str.match(new RegExp(`${start}(.*?)${end}`))
        return res ? res[1] : null
    }

    function mod(object, name, pic) {
        var mod = new Object;
        mod.object = object
        mod.name = name;
        mod.pic = pic;
        return mod;
    }
</script>